* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* HEADER */

header {
  width: 100%;
  background-color: white;
  min-height: 60px;
  position: fixed;
  top: 0px;
}

body {
  overflow-x: hidden;
}

/* NAV */
.nav-desktop {
  display: none;
}
.nav-mobile {
  width: 75%;
  transform: translateX(-100%);
  height: 100%;
  top: 59px;
  left: -10px;
  position: fixed;
  transition: 0.3s ease-in;
  background-color: white;
  z-index: 6;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .nav-mobile {
    display: none;
  }
  .logos {
    border: 2px solid blue;
    width: 30px;
  }
}

.nav-mobile ul {
  height: 90%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.nav-mobile ul li {
  display: flex;
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin-top: 1%;
}
.nav-mobile ul li a {
  text-decoration: none;
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile ul li a:hover {
  background-color: black;
  transition: 0.6s;
  opacity: 0.9;
  color: white;
}

/* NAV */

/* MENU BURGER */
.burger {
  width: 60px;
  height: 45px;
  margin-bottom: 3px;
  margin-left: 21px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 17px;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 70%;
  background: black;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

.burger span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}
/* MENU BURGER */
/* JAVA SCRIPT */
.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 31px;
  left: 5px;
}

.nav-show {
  transform: translateX(0%);
}

.shark-logo {
  width: 168px;
  margin-left: 5%;
  margin-right: 50%;
  height: 28px;
}
.logos {
  padding-top: 3%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  z-index: -1;
  padding-right: 5%;
  border-bottom: 0.5px solid black;
}
/* JAVACRIPT */

/* FIRST SECTION */
/* FIRST ARTICLE*/
.main-article {
  width: 100%;
  height: 69vh;
  background-image: url("assets/influencer.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-top: 1px solid white;
}

.main-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-top: 58%;
  margin-bottom: 3vh;
}

.buy-product {
  display: flex;
  width: 80%;
  height: 7%;
  margin-left: 10%;
  margin-top: 5%;
  background: none;
  border-radius: 15px;
  align-items: center;
  border: 2px solid white;
}
.buy-product:hover {
  cursor: pointer;
}

.buy-product p {
  color: white;
  padding: 1%;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}
.new-product-button {
  display: flex;
  justify-content: center;
  width: 110%;
  height: 45px;
  background: black;
  border-radius: 15px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 230px;
  font-size: 15px;
  color: white;
}

.new-product-button p {
  display: flex;
  align-items: center;
}
.new-product-button:hover {
  cursor: pointer;
}

/* ARTICLES*/
.first-section {
  margin-top: 1px;
}

.mobile-home-image {
  width: 100%;
  height: 568px;
}
.sub-title {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: white;
}

.shirt-title {
  width: 100%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  display: flex;
  margin-top: 36px;
  justify-content: center;
}

.shirt-front {
  width: 80%;
  margin: 10%;
}
.sub-article {
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  width: 80%;
  margin-left: 10%;
  margin-top: 5%;
  height: 343px;
  padding: 5%;
}
.third-title {
  padding-left: 10%;
  font-family: Roboto;
  font-style: normal;
  font-size: 20px;
  color: #293148;
}
.description {
  display: flex;
  justify-content: center;
  width: 75%;
  margin-left: 10%;
  font-size: 18px;
  color: #898d98;
  margin-top: 7%;
}

.description-shirt {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 134px;
  text-align: center;
  width: 60%;
  margin-left: 20%;
}
.speed-logo {
  width: 50%;
  margin-left: 25%;
  margin-top: 20%;
}
.description-train {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  height: 134px;
  text-align: center;
  width: 90%;
  margin-left: 5%;
}
.train-image {
  width: 100%;
  height: 398.24;
}
.buy-button {
  width: 80%;
  height: 50px;
  margin-left: 10%;
  background-color: rgba(0, 0, 0, 0.85);
  border: none;
  border-radius: 25px;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-button:hover {
  cursor: pointer;
}

.buy-button p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.know-button {
  margin-top: 5px;
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #293148;
  text-decoration: underline;
  margin-bottom: 25px;
}

/* FOOTER */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
footer {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.215);
}
.nav-footer {
  width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
}
.message-destop {
  text-decoration: none;
  min-width: 200px;
  display: none;
  color: black;
}
.ul-logo {
  width: 100%;
  height: 90%;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* FOOTER */

/* MEDIA 768 px DESKTOP VERSION */

/* promo title ipad */
@media screen and (min-width: 500px) {
  .promo-title {
    opacity: 0;
  }
}

/* SELL PAGE */

.sell-article {
  margin-top: 60px;
  border: 2px solid red;
  width: 100%;
}
.brand-sell {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: rgba(96, 96, 96, 1);

  display: flex;
  margin-top: 36px;
  margin-left: 35px;
}

.item-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.04em;
  margin-left: 36px;
  margin-top: 20px;
}
.item-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  color: rgba(96, 96, 96, 1);
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.04em;
  margin-left: 36px;
  margin-top: 20px;
  border-bottom: 1px solid rgba(96, 96, 96, 0.705);
  width: 80%;
}

.size-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: rgba(96, 96, 96, 1);
  display: flex;
  margin-top: 36px;
  margin-left: 35px;
}

.size-select {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.size-select li {
  border: solid #a8a8a8 1px;
  padding: 15px;
  color: #a8a8a8;
  margin: 5px;
  width: 15%;
  display: flex;
  justify-content: center;
}

.size-select-grey {
  background-color: grey;
  color: white;
}

.sell-button {
  text-transform: uppercase;
  border: solid #ebebeb;
  border-radius: 10px;
  text-align: center;
  background-color: #ebebeb;
  color: #a8a8a8;
  width: auto;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5%;
  margin-top: 5%;
}
/* STORY PAGE */
.story-pic {
  width: 100%;
  margin-top: 0px;
}
.story-article {
  margin-top: 0px;
}
.story-title {
  width: 100%;
  padding-left: 3%;
  font-size: 24px;
  border-right: 1px solid black;
}
.story-text {
  margin-top: 3%;
  font-size: 20px;
  text-align: center;
}
