* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* HEADER */

header {
  width: 100%;
  background-color: white;
  min-height: 60px;
  position: fixed;
  top: 0px;
  z-index: 5;
}
body {
  overflow-x: hidden;
  width: 100%;
}

/* NAV */

.nav {
  width: 75%;
  transform: translateX(-100%);
  height: 100%;
  top: 59px;
  left: -10px;
  position: fixed;
  transition: 0.3s ease-in;
  background-color: white;
  z-index: 6;
}

.nav ul {
  height: 90%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.nav ul li {
  display: flex;
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin-top: 1%;
}
.nav ul li a {
  text-decoration: none;
  font-size: 28px;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li a:hover {
  background-color: black;
  transition: 0.6s;
  opacity: 0.9;
  color: white;
}

/* NAV */

/* MENU BURGER */
.burger {
  width: 60px;
  height: 45px;
  margin-bottom: 3px;
  margin-left: 21px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 17px;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 70%;
  background: black;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

.burger span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}
/* MENU BURGER */
/* JAVA SCRIPT */
.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 31px;
  left: 5px;
}

.nav-show {
  transform: translateX(0%);
}

.shark-logo {
  width: 60px;
}
.logos {
  padding-top: 3%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  z-index: 3;
  padding-right: 5%;
}
/* JAVACRIPT */

/* FIRST SECTION */
/* FIRST ARTICLE*/
.first-article {
  width: 100%;
  height: 69vh;
  background-image: url("assets/influencer.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main-title {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 37px;
  text-align: center;
  color: #ffffff;
  margin-top: 58%;
  margin-bottom: 3vh;
}

.buy-product {
  display: flex;
  width: 80%;
  height: 7%;
  margin-left: 10%;
  margin-top: 5%;
  background: none;
  border-radius: 15px;
  align-items: center;
  border: 2px solid white;
}
.buy-product:hover {
  cursor: pointer;
}

.buy-product p {
  color: white;
  padding: 1%;
  display: flex;
  width: 100%;
  justify-content: center;
  height: 100%;
}
.new-product-button {
  display: flex;
  justify-content: center;
  width: 110%;
  height: 45px;
  background: black;
  border-radius: 15px;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 230px;
  font-size: 15px;
  color: white;
}

.new-product-button p {
  display: flex;
  align-items: center;
}
.new-product-button:hover {
  cursor: pointer;
}

/* PROMO TITLE */
.promo-title {
  width: 100%;
  height: 65px;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-title1 {
  position: absolute;
  left: 0px;
  animation-name: carrousel1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  top: 90px;
}
.promo-title2 {
  position: absolute;
  left: 0px;
  animation-name: carrousel2;
  animation-duration: 20s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  opacity: 0;
}

@keyframes carrousel1 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 25;
  }
  15% {
    transform: translateX(15%);
    opacity: 70;
  }
  20% {
    opacity: 100;
  }

  100% {
    transform: translateX(200%);
    opacity: 0.3;
  }
  100% {
    transform: translateX(300%);
    opacity: 0;
  }
}

@keyframes carrousel2 {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  10% {
    opacity: 25;
  }
  15% {
    opacity: 100;
  }
  20% {
    transform: translateX(55%);
    opacity: 100%;
  }

  100% {
    transform: translateX(500%);
    opacity: 0;
  }
}

/* PROMO TITLE */
.first-section {
  margin-top: 1px;
}

.mobile-home-image {
  width: 100%;
  height: 568px;
}
.sub-title {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-top: 10%;
}

.span-title {
  width: 1px;
  height: 24px;
  background-color: black;
  display: flex;
  margin-left: 2px;
  margin-right: 5px;
}

.story-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  display: flex;
  margin-top: 36px;
  margin-left: 35px;
}

.story-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.06em;
  text-indent: 24px;
  margin: 24px;
}

/* FOOTER */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
footer {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.215);
}
.nav-footer {
  width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
}
.message-destop {
  text-decoration: none;
  min-width: 200px;
  display: none;
  color: black;
}
.ul-logo {
  width: 100%;
  height: 90%;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* FOOTER */

/* MEDIA 768 px */
/* promo title ipad */
@media screen and (min-width: 500px) {
  .promo-title {
    opacity: 0;
  }
}
