* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* HEADER */
header {
  width: 100%;
  background-color: white;
  height: 60px;
}

.header-show {
  position: fixed;
}

/* NAV */

.nav {
  width: 100%;
  transform: translateX(-100%);
  height: 100%;
  margin-top: 62px;
  position: absolute;
  left: 0px;
  transition: 0.3s ease-in;
  background-color: white;
  z-index: 3;
}

.nav ul {
  height: 90%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.nav ul li {
  display: flex;
  font-size: 20px;
  height: 100%;
  width: 100%;
  margin-top: 1%;
}
.nav ul li a {
  text-decoration: none;
  font-size: 28px;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li a:hover {
  background-color: black;
  transition: 0.6s;
  opacity: 0.9;
  color: white;
}

/* NAV */

/* MENU BURGER */
.burger {
  width: 60px;
  height: 45px;
  margin-bottom: 3px;
  margin-left: 21px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  top: 17px;
}

.burger span {
  display: block;
  position: absolute;
  height: 4px;
  width: 70%;
  background: black;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.burger span:nth-child(1) {
  top: 0px;
  transform-origin: left center;
}

.burger span:nth-child(2) {
  top: 18px;
  transform-origin: left center;
}

.burger span:nth-child(3) {
  top: 36px;
  transform-origin: left center;
}
/* MENU BURGER */
/* JAVA SCRIPT */
.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 0px;
  left: 5px;
}

.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 31px;
  left: 5px;
}

.nav-show {
  transform: translateX(0%);
}

.shop {
  width: 40px;
}

.shark-logo {
  width: 60px;
}
.logos {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* JAVACRIPT */

/* FIRST SECTION */
/* FIRST ARTICLE*/
.first-article {
  maringborder: 2px solid red;
  width: 100%;
  height: 568px;
  background-image: url("assets/MobileHomeImage.png");
}
.main-title {
  width: 100%;
  height: 37px;
  top: 134px;
  display: flex;
  justify-content: center;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-align: center;

  color: #ffffff;
}
.new-product-button {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 10%;
  width: 50%;
  height: 50px;
  border: none;
  background: #ffffff;
  border-radius: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
}
.new-product-button:hover {
  cursor: pointer;
}
.promo-title {
  width: 100%;
  height: 65px;
  background-color: black;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-section {
  margin-top: 1px;
}

.mobile-home-image {
  width: 100%;
  height: 568px;
}

.sub-title {
  margin-top: 22px;
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.span-title {
  width: 1px;
  height: 24px;
  background-color: black;
  display: flex;
  margin-left: 2px;
  margin-right: 5px;
}

.story-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  display: flex;
  margin-top: 36px;
  margin-left: 35px;
}

.story-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: 0.06em;
  text-indent: 24px;
  margin: 24px;
}

/* FOOTER */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
footer {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.215);
}
.nav-footer {
  width: 100%;
  width: 100%;
  height: 100%;
  display: flex;
}
.message-destop {
  text-decoration: none;
  min-width: 200px;
  display: none;
  color: black;
}
.ul-logo {
  width: 100%;
  height: 90%;
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* FOOTER */
